.casual-screen {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.photo-name {
  display: flex;
  align-items: center;
  gap: 20px;
}

.photo {
  width: 80px;
  height: 100px;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.furigana{
  font-size: 10px;
  font-weight: bold;
}

.kanji_name {
  font-size: 30px;
  font-weight: bold;
}

.evaluation {
  grid-column: 1 / span 1;
}

.evaluation-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.red-input {
  width: 100px;
  padding: 5px;
  border: 1px solid #ffcccc;
  border-radius: 5px;
  background-color: #ffe6e6;
  text-align: center;
}

.notes {
  grid-column: 2 / span 1;
}

.red-textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ffcccc;
  border-radius: 5px;
  background-color: #ffe6e6;
  resize: none;
}
